APP_ENV=development
DEBUG=true
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174

KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=wellq
KEYCLOAK_CLIENT_ID=wellq-admin-backend
KEYCLOAK_CLIENT_SECRET=wellq-super-secret-key
KEYCLOAK_ADMIN_ROLE=wellq-admin

GCP_PROJECT_ID=wellq-dev
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=wellq_analytics
